body{
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}

h1{
    font-family: "Newsreader", serif;
    font-weight: 700;
    color: white;
}

/* nav bar  */

.navBar{
    background-color: #2bcfa3;
    width: 100%;
}

.navHeader{
    margin: 1rem 4rem;
    display: inline-block;
    position: absolute;
    right: 1rem;
}

.navHeader ul{
    list-style: none;
}

.navHeader ul li{
    display: inline-block;
    margin-right: 2rem;
}

.navHeader a{
    text-decoration: none;
    font-size: 0.8rem;  
    font-weight: 600;
    color: #D9F6EE;
}

.navHeader a:hover{
    color: rgb(0, 128, 90);
    transition: .5s;
}

.checkBtn{
    color: #D9F6EE;
    font-size: 2rem;
    margin-left: 5rem;
    position: absolute;
    top: 2rem;
    cursor:pointer;
    display: none;
}

#check{
    display: none;
}

.logo{
    padding: 1.5rem;
    width: 154px;
}

.borderProfile{
    margin-top: 19px;
    margin-right: 24px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #fff;
    position: relative;
    float: right;
    
} 

.image{
    border-radius: 100%;
    width: 43px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
}  

.image img{
    border-radius: 100%;
    width: 100%;
} 

/* Header  */

.header{
    background-color: #2bcfa3;
    width: 100%;
    height: 100vh;
    padding-top: 2rem ;
}

.sideImage{
    position: absolute;
    width: 25%;
    left: 4rem;   
}

.content{
    position: relative;
    width: 60%;
    float: right;
    right: 2rem;
    margin-top: 3%;
    /* padding: 1% 6%; */
    /* margin-right: 9.5rem; */
}

.text{
    margin-top: 0;
    width: 70%;
    color: #f8eeeece;
    font-weight: lighter;
}

/* cards  */


.card{
    background-color: white;
    border-radius: 10px;
    border: 3px none;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    display:inline-block;
    margin-top:0;
    width: 18%;
    margin: 5%;
    margin-left: 0;
    padding: 3%;
}

.cardImg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 56%;
    height: 60px;
    margin-top: 1rem;
}
.img1, .img2{
    width: 80px;
}
.img3{
    width: 90px;
}

.card h1{
    margin-block: 0;
    font-family: "Open Sans";
    font-size: 1.4rem;
    font-weight: 500;
    color:#32B57D;
}

.card p{
    margin-top: 0; 
    font-weight: 600;
    font-size: 0.6rem;
    color: #E9788F;
}

.card ul{
    margin-top: 3rem;
    padding-left: 0;
    font-size: 0.5rem;  
    font-weight: 600;
    color: #8d8a8afd;
    list-style: none;
}

.card ul li{
    text-align: left;
    padding-bottom: 0.4rem;
}

.card ul li span{
    float: right;
}

.cardBtn{
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translateX(-50%);
    background-color: #01E969;
    border-radius: 5px;
    border-style: none;
    width: 50%;
    height: 30px;
    font-size: 0.62rem;
    font-weight: 600;
    color:#303030;
    cursor: pointer;
}

.cardBtn:hover{
    background-color: rgb(0, 163, 95);
    transition: .5s;
}

/* recipes   */

.recipes{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 5rem 0 7rem 0;
    padding-bottom: 3%;
    text-align: center;
    
}

.recipesContent{
    padding: 0 15% 3%;
}

.recipesContent h1{
    color: black;
}

.recipesContent p{
    color: rgb(65, 65, 65);
    font-family: "Raleway";
    font-weight: 500;
    font-size: 0.9rem

}

.carousel{
    margin-left: 2rem;
}

.slider{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carouselImage{
    width: 100%;
    height: 22.5rem;
    margin-right: 1.5rem;
    margin-left: 1rem;
    border-radius: 10px;
}

.arrowImg{
    width: 30%;
    /* background-color: white; */
}

/* GO GREEN  */

.goGreen{
    width: 100%;
    padding: 7rem 0 15rem;
    background-color: rgb(249, 249, 249);
    overflow: hidden;
    
}

.pepper{
    position: absolute;
    width: 20rem;
    left: 4rem;
    top: 89rem;
    
}

.goContainer{
    position: relative;
    margin-top: 5rem;
    margin-right: 5rem;
    float: right;
    width: 55%;
    z-index: 1;
}

.goSlideContent{
   width: 100%;
   margin-left: 0;
   margin-right: 4rem;
   padding-right: 3%;
   
}

.goSlideContent h1{
    font-weight: 600;
    font-size: 2rem;
    color: black;
}

.goSlideContent p{
    font-size:0.8rem;
    font-weight: 500; 
}

.brand1, .brand3{
    width: 90px;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 2rem; 
}

.brand2{
    width: 70px;
    margin-left: 1.5rem;
    display: inline-block;
}

/* HOW IT WORKS  */

.howWorks{
    width:100%;
    padding: 7% 0 6% 0;
    background-color: #2bcfa3;
   
}

.hwSlide{
    width: 55rem;
    margin-left: 9rem;
    
}

.fruitSlide{
    display: inline-block;
    width: 48%;
}

.fruitSlide img{
    display: inline-block;
    vertical-align:middle;
    border-radius: 5px;
}

.hwContent{
    display: inline-block;
    width: 48%;
    padding-left: 2rem;
    vertical-align:middle;  
}

.hwContent h1{
    font-size: 2rem;
    font-weight: 500;
}

.hwContent p{
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
    line-height: 1.7;
}

 /* EXPERIMENT  */

.experiment{
    /* width:100%; */
    padding: 5rem 7% 6rem 7%;
    background-color: #FFF;
}

.experimentContent{
    display:inline-block;
    width: 45%;
    margin-right: 5%;
    vertical-align: top;
}

.experimentText h1{
    margin-block: 0;
    color: #00A35E;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.experimentText p{
    font-family: "Newsreader", serif;
    font-weight: 500;
    font-size: 1rem;
    color: #4D5753;
    width: 6remlato;
}

.experiment-btn{
    margin-top: 1rem;
    background-color: #01E969;
    border-radius: 8px;
    border-style: none;
    width: 23%;
    height: 2rem;
    font-size: 0.62rem;
    font-weight: 600;
    color:#303030;
    cursor: pointer;
}

.download{
    margin-top: 8rem;
}

.download p{
    margin-block: 0;
    margin-bottom: 0.5em;
    font-size: 0.9rem;
}

.iosImg{
    display:inline-block;
    width: 60px;
    margin-bottom: 0.23rem;
    
}

.androidImg{
    display: inline-block;
    width: 70px;
    
}

.greyImg{
    display: inline-block;
    width: 47%;
    height: 33rem;
    background-color: #F2F2F2;
}

/* footer  */

.footer{
    padding: 4rem 10% 5rem 10%;
    background-color: #3B3B3B;
    position: relative;
}

.navFooter{
    display: inline-block;
    width: 60%;
}

.navFooter a{
    text-decoration: none;
    margin-right: 2.5rem;
    font-size: 0.8rem;  
    font-weight: 600;
    color: #D6D6D6;
}

.mellowLogo{
    display: inline-block;
    position: absolute;
    width: 120px;
    top: 3.5rem;
    right: 6%;
}

.footerText{
    margin-top: 5rem;
}

.footerText h1{
    margin-block: 0;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 2rem;
}

.greenH1{
    color: #00E886;
}


.subscribe{
    margin-top: 2.5rem;
}

.subscribe input{
    width: 20%;
    height: 1rem;
    padding: 0.5rem 0 0.5rem 1rem;
    border-radius: 5px 0 0 5px;
    border-style: none;
    font-size: 0.6rem;
}

.subscribe button{
    margin-left: 0.3rem;
    background-color: #01E969;
    border-radius: 0 8px 8px 0;
    border-style: none;
    width: 9%;
    height: 2rem;
    font-size: 0.62rem;
    font-weight: 600;
    color:#303030;
    cursor: pointer;
}

.socialLogo{
    margin-top: 3rem;

}
.socialLogo p{
    margin-top: 1rem;
    font-size: 0.5rem;
    color: #fff;
}

/* QUERIES  */

@media (max-width: 1020px){
    .header{
        padding-bottom: 13rem;
    }
    .sideImage{
        width: 40%;
        left: 1rem;
    }

    .card{
        width: 30%;
    }

    .pepper{
        top: 103rem;
    }
}

@media(max-width: 920px){
    .checkBtn{
        right: 5.5rem;
        display: block;
    }

    .navHeader ul{
		position: fixed;
		width: 23%;
		height: 25vh;
		background: rgba(90,236,212, 0.8);
		top: 68px;
        right: -100%;
		transition: all .5s;
        z-index: 1;
	}
	.navHeader ul li{
		display: block;
		margin: 9px 0;
	}

    .navHeader ul li a{
        color: rgb(123, 139, 137);
    }

    #check:checked ~ .navHeader ul{
        right: 1%;
    }

    .header{
        background-color: rgba(43, 207, 163, 0.8);
        padding-bottom: 35rem;
    }

    .sideImage{
        z-index: -1;
        width: 350px;
        left: -1rem;
        background-color: rgba(43, 207, 163, 0.8);
    }

    .card{
        display: block;
        width: 70%;
        margin: 2rem auto;
    }

    .pepper{
        width: 20rem;
        top: 130rem;
    }

    .fruitSlide{
        display: none;
    }

    .hwContent{
        width: 20%;
        margin-left: 1rem;
    }

    .experiment-btn{
        width: 40%;
    }

    .mellowLogo{
        top: 4.5rem;
        width: 100px;
    }

    .navFooter a{
        display: block;
        margin-top: 1rem;
        /* font-size: 0.6rem; */
    }

    .subscribe input {
        width: 70%;
        height: 1.3rem;
        border-radius: 5px 5px 5px 5px;
        display: block;
    }

    .subscribe button{
        width: 50%;
        margin-top: 0.5rem;
        border-radius: 5px 5px 5px 5px;
    }

}